.navbar{
	background: $sidebar_color;
	min-height: 70px;
	border-radius: 0;

	.navbar-brand{
		padding: 15px;
		text-decoration: none;
		color: $logo_color;
		font-size: 2.5rem;
		line-height: 1.5;
		margin-left: 5px !important;
	}

	.search_bar_wrapper{
		position: relative;
		min-width: 700px;
	}
	.search_bar{
		width:100%;
		padding:15px;
		line-height: 1.7;
		border: none;
		height: 100%;
		font-size: 2rem;
		color: darken($base_color, 25%);
		border-left: 1px solid $base_color;
	}
	.search_bar_manu{
		display: none;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		padding: 15px;
		z-index: 999;
		background: $base_color;
		list-style: none;
		box-shadow: 0px 8px 50px darken($base_color, 25%) ;
		li{
			padding: 5px 0;
			margin: 0;
			a{
				text-decoration: none;
				color: darken($base_color, 40%);
				display: block;
				padding: 0;
				margin: 0 !important;
				border-bottom: 1px solid darken($base_color, 10%);
			}
		}
		 
	}

	.navbar-nav{
		li {
			a{
				line-height: 1;
				margin: 15px 0px;
				padding: 10px 15px;
				font-size: 1.6rem;
				
				i,p{
					display: inline-block;
					margin: 0;
					position: relative;
					padding: 0 2px;
				}
			}
			
		}
		.dropdown{
			position: relative;
			.notification{
				display: inline-block;
				padding: 0 5px;
				
			}
			.notification_count{
				display: inline-block;
				padding:5px;
				background: #f00;
				color: #fff;
				font-size: 0.8em;
				position: absolute;
				top:-2px;
				right:10px;
				border-radius: 100%;
				width:22px;
				height:22px;
				text-align: center;
			}
		}

		.dropdown-menu{
			border-radius: 0px;
			padding:15px 5px;
			box-shadow: 0px 0px 20px 0px darken($base_color, 20%);
			a{
				margin:0;

				i,p{
					display: inline-block;
					padding: 0 4px;
				}
				i{
					color: darken($default_text_color, 5%);
				}
			}
			
		}
	}
}