<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Dashboard:::
		meta(name="author", content="name")
		meta(name="description", content="description here")
		meta(name="keywords", content="keywords,here")
		link(rel="shortcut icon", href="favicon.ico", type="image/vnd.microsoft.icon")
		//- link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet", href="css/style.css")
		link(href="//fonts.googleapis.com/css?family=Lato", rel="stylesheet")
	body

		//- main wrapper
		.wrapper

			//- sidebar panel
			.sidebar
				button.btn.btn-primary Click

			//- main panel
			.main_panel

		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js")
		//- script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
		//- script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js")
		script(src="js/app.js")