.row
	.col-lg-3.col-sm-6
		.card
			.panel_wrapper 
				.row
					.stats_header_back.blue_card
						.col-xs-5
							span.big_icon: i(class="fa fa-user")
						.col-xs-7
							span.card_numbers
								p Views
								span 195
				.footer
					hr
					.panel_status 
						i.fa.fa-eye
						p Updated
						span.panel_footer_num  just now
	.col-lg-3.col-sm-6
		.card
			.panel_wrapper 
				.row
					.stats_header_back.error_card
						.col-xs-5
							span.big_icon: i(class="fa fa-signal")
						.col-xs-7
							span.card_numbers
								p Issues
								span 3
				.footer
					hr
					.panel_status 
						i.fa.fa-eye
						p updated
						span.panel_footer_num  1 minute ago
	.col-lg-3.col-sm-6
		.card
			.panel_wrapper 
				.row
					.stats_header_back.revenue_card
						.col-xs-5
							span.big_icon: i(class="fa fa-podcast")
						.col-xs-7
							span.card_numbers
								p Revenue
								span $ 9658
				.footer
					hr
					.panel_status 
						i.fa.fa-eye
						p updated
						span.panel_footer_num  just now
	.col-lg-3.col-sm-6
		.card
			.panel_wrapper 
				.row
					.stats_header_back.issue_card
						.col-xs-5
							span.big_icon: i(class="fa fa-automobile")
						.col-xs-7
							span.card_numbers
								p Automobile
								span 1956
				.footer
					hr
					.panel_status 
						i.fa.fa-eye
						p updated
						span.panel_footer_num  3 minutes ago
						
	