.row
	.col-sm-12
		.main_chart_section2
			.row
				.col-md-8
					.visitor_report
						h3 Visitor Report
						p Real time visitors report
						div.vistor_report_wrapper
							canvas#visitor_report
				
				.col-md-4
					.recent_order
						h3 Recent Orders
						p Real time orders update
						div.recent_order_wrapper
							div(class="table-responsive")
								table.table
									thead.thead
										tr
											th Status
											th Clients
											th Orders#
											th Date
									tbody.tbody
										tr
											td
												span.badge.active Paid
												span.badge.active Active
											td John
											td: a(href="#0") 356487
											td 11-Jan-2018
										tr
											td 
												span.badge.inprocess InProcess
												span.badge.inprocess Active
											td Sneha
											td: a(href="#0") 15456
											td 11-Jan-2017
										tr
											td 
												span.badge.discharge Paid
												span.badge.discharge Discharge
											td Rajeev
											td: a(href="#0") 658456
											td 02-Jan-2018
										tr
											td 
												span.badge.inactive Not-paid
												span.badge.inactive Inactive
											td Jane
											td: a(href="#0") 768548
											td 06-Nov-2017
										tr
											td 
												span.badge.inprocess InProcess
												span.badge.inprocess Active
											td Sneha
											td: a(href="#0") 15456
											td 11-Jan-2017
										tr
											td 
												span.badge.discharge Paid
												span.badge.discharge Discharge
											td Rajeev
											td: a(href="#0") 658456
											td 02-Jan-2018
										tr
											td 
												span.badge.inactive Not-paid
												span.badge.inactive Inactive
											td Jane
											td: a(href="#0") 768548
											td 06-Nov-2017
											

